{% load static wagtailuserbar wagtailimages_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% with self.get_site.site_name as site_name %}
            <title>
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
                {% if site_name %}- {{ site_name }}{% endif %}
            </title>
            <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ settings.home.OgSettings.og_title }}{% endif %}">
            <meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ settings.home.OgSettings.og_title }}{% endif %}">
            <meta property="og:site_name" content="{% if site_name %}{{ site_name }}{% endif %}">
        {% endwith %}

        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% else %}{{ settings.home.OgSettings.og_description }}{% endif %}">
        <meta property="og:description" content="{% if self.search_description %}{{ self.search_description }}{% else %}{{ settings.home.OgSettings.og_description }}{% endif %}">
        <meta name="twitter:description" content="{% if self.search_description %}{{ self.search_description }}{% else %}{{ settings.home.OgSettings.og_description }}{% endif %}">

        {% if self.meta_image %}
            {% image self.meta_image max-1200x630 as og_image %}
            <meta property="og:image" content="{{ og_image.url }}">
            <meta name="twitter:image" content="{{ og_image.url }}">
        {% else %}
            {% image settings.home.OgSettings.og_image max-1200x630 as og_image %}
            <meta property="og:image" content="{{ og_image.url }}">
            <meta name="twitter:image" content="{{ og_image.url }}">
        {% endif %}

        <meta name="author" content="Danes je nov dan">
        <meta property="og:type" content="website">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="@danesjenovdan">

        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="shortcut icon" href="{% static 'favicon-32x32.png' %}">
        <link rel="apple-touch-icon" href="{% static 'favicon-512x512.png' %}" sizes="512x512">

        {# Bootstrap CSS #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/selfhosted.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/pravnamreza.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        {# Bootstrap JS #}
        <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

        {# Global javascript #}
        <script src="{% static 'js/pravnamreza.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <script defer data-domain="pravna-mreza.si" src="https://plausible.lb.djnd.si/js/plausible.js"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}
    </body>
</html>
