{% extends "home/base_page.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}page page--generic{% endblock %}

{% block page_body %}

<div class="row row-light-purple headline headline--blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1 class="headline-title">{{ page.title }}</h1>
      </div>
      <div class="col-lg-5">
        <div class="headline-image">
          {% image page.headline_image width-1100 class="img-fluid" %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row row-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="large-page-buttons">
          {% for page_button in page.page_buttons %}
          <a class="large-page-button" href="{% pageurl page_button.value %}">
            <div class="large-page-button-title">{{ page_button.value.title }}</div>
            {% if page_button.value.specific.headline_image %}
              {% image page_button.value.specific.headline_image width-220 class="img-fluid" %}
            {% endif %}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row row-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        {% for block in page.body %}
          {% if block.block_type == 'paragraph' %}
            <div class="row blog-body">
              <div class="container">
                <div class="row">
                  <div class="col">
                    {{ block.value|richtext }}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock page_body %}
