apiVersion: v1
kind: Secret
metadata:
  name: pmvd-config
type: Opaque
stringData:
  DJANGO_DATABASE_NAME: db_name
  DJANGO_DATABASE_USERNAME: db_username
  DJANGO_DATABASE_PASSWORD: db_password
  DJANGO_DATABASE_HOST: db_host
  DJANGO_SECRET_KEY: something_random_and_long
  # S3 storage
  DJANGO_ENABLE_S3: "yes"
  DJANGO_AWS_ACCESS_KEY_ID: "<TODO>"
  DJANGO_AWS_SECRET_ACCESS_KEY: "<TODO>"
  DJANGO_AWS_STORAGE_BUCKET_NAME: "djnd"
  DJANGO_AWS_LOCATION: "pravnamreza"
