{% extends "home/base_page.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}page page--generic{% endblock %}

{% block page_body %}

<div class="row row-light-purple headline-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start">
                <h1>
                    <div class="spaced serif">{{ page.headline_first }}</div>
                    <div class="spaced">{{ page.headline_second }}</div>
                </h1>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-end">
                {% image page.headline_image width-1100 class="img-fluid" %}
            </div>
        </div>
    </div>
</div>

<div class="row row-white px-4 px-lg-0">
    <div class="container">
        <div class="row">
            <div class="col monitoring-intro">
                {{ page.intro_text|richtext }}
                {% for link in page.link %}
                <div>
                    <a class="btn monitoring-btn mt-4"
                        href="{% if link.value.url %}{{ link.value.url }}{% elif link.value.page %}{% pageurl link.value.page %}{% elif link.value.email %}mailto:{{ link.value.email }}{% endif %}">
                        {{ link.value.name }} &gt;&gt;&gt;
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row row-light px-4 px-lg-0 py-5">
    <div class="container my-lg-5">
        <div class="row mb-5">
            <div class="col">
              <div class="archive-title">
                <h1>Poročila</h3>
              </div>
            </div>
        </div>
        {% for monitoring_page in monitoring_pages %}
        <div class="row blog-preview">
            <div class="col-lg-8">
                <a class="blog-title" href="{{ monitoring_page.url }}">
                    <h1 class="mb-0">{{ monitoring_page.title }}</h1>
                </a>
                <div class="mb-3">
                    <time class="blog-subtitle">{{ monitoring_page.date|date:'d. m. Y' }}</time>
                </div>
                <div>
                    {{ monitoring_page.preview_text|richtext }}
                </div>
            </div>
        </div>
        <hr class="short mb-5">
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="container">
        {% if monitoring_pages.paginator.num_pages > 1 %}
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="d-flex">
                    {% if monitoring_pages.has_previous %}
                    <div class="page-num">
                        <a href="?page={{ monitoring_pages.previous_page_number }}">
                            <span><<<</span>
                        </a>
                    </div>
                    {% endif %}

                    {% if monitoring_pages.number > 2 %}
                    <div class="page-num">
                        <a href="?page=1">1</a>
                    </div>
                    {% endif %}

                    {% if monitoring_pages.number > 3 %}
                    <div class="page-num">
                        <span>...</span>
                    </div>
                    {% endif %}

                    {% if monitoring_pages.number|add:"-1" > 0 %}
                    <div class="page-num">
                        <a href="?page={{ monitoring_pages.number|add:"-1" }}">{{ monitoring_pages.number|add:"-1" }}</a>
                    </div>
                    {% endif %}

                    <div class="page-num active">
                        <a href="?page={{ monitoring_pages.number }}">{{ monitoring_pages.number }}</a>
                    </div>

                    {% if monitoring_pages.number|add:"1" < monitoring_pages.paginator.num_pages %}
                    <div class="page-num">
                        <a href="?page={{ monitoring_pages.number|add:"1" }}">{{ monitoring_pages.number|add:"1" }}</a>
                    </div>
                    {% endif %}

                    {% if monitoring_pages.paginator.num_pages > monitoring_pages.number|add:"2" %}
                    <div class="page-num">
                        <span>...</span>
                    </div>
                    {% endif %}

                    {% if monitoring_pages.number < monitoring_pages.paginator.num_pages %}
                    <div class="page-num">
                        <a href="?page={{ monitoring_pages.paginator.num_pages }}">
                        {{ monitoring_pages.paginator.num_pages }}
                        </a>
                    </div>
                    {% endif %}

                    {% if monitoring_pages.has_next %}
                    <div class="page-num">
                        <a href="?page={{ monitoring_pages.next_page_number }}">
                            <span>&gt;&gt;&gt;</span>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock page_body %}
