{% extends "home/base_page.html" %}
{% load i18n wagtailcore_tags static %}

{% block body_class %}page page--donation{% endblock %}

{% block page_body %}

<div class="row page-top-margin donation-page">
  <div class="container">
    <div class="row px-4 px-lg-0">
      <div class="col">
        {% for block in page.body %}
          {% if block.block_type == 'paragraph' %}
            <div class="row my-3 blog-body">
              <div class="container">
                <div class="row">
                  <div class="col">
                    {{ block.value|richtext }}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="square square-light-purple">
          <div class="row text-center text-lg-left">
            <div class="col-lg-8 order-last order-lg-first">
              <div class="mt-4 mt-lg-5 mb-4">
                <h3>{{ page.left_box_heading_part_one }}</h3>
                <h3>{{ page.left_box_heading_part_two }}</h3>
              </div>
              <div class="mb-4">
                <p>{{ page.left_box_description }}</p>
              </div>
              {% if page.left_box_button_link %}
              <div>
                <a href="{% pageurl page.left_box_button_link %}" class="btn support-btn mt-2 text-center text-lg-left">{{ page.left_box_button_text }}<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="13.75 20.218 29.959 14.564"><path d="M43.709 27.5 29.15 20.218V26.4h-15.4v2.2h15.4v6.182L43.709 27.5ZM31.35 23.782l7.441 3.718-7.441 3.718v-7.436Z"/></svg></a>
              </div>
              {% endif %}
            </div>
            <div class="col-lg-4 text-center text-lg-right order-first order-lg-last">
              <img src="{% static 'img/mesecna-donacija.png' %}" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="square square-light-purple">
          <div class="row text-center text-lg-left">
            <div class="col-lg-8 order-last order-lg-first">
              <div class="mt-4 mt-lg-5 mb-4">
                <h3>{{ page.right_box_heading_part_one }}</h3>
                <h3>{{ page.right_box_heading_part_two }}</h3>
              </div>
              <div class="mb-4">
                <p>{{ page.right_box_description }}</p>
              </div>
              {% if page.right_box_button_link %}
              <div>
                <a href="{% pageurl page.right_box_button_link %}" class="btn support-btn mt-2 text-center text-lg-left">{{ page.right_box_button_text }}<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="13.75 20.218 29.959 14.564"><path d="M43.709 27.5 29.15 20.218V26.4h-15.4v2.2h15.4v6.182L43.709 27.5ZM31.35 23.782l7.441 3.718-7.441 3.718v-7.436Z"/></svg></a>
              </div>
              {% endif %}
            </div>
            <div class="col-lg-4 text-center text-lg-right order-first order-lg-last">
              <img src="{% static 'img/enkratna-donacija.png' %}" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock page_body %}
