{% extends "home/base_page.html" %}
{% load i18n wagtailcore_tags static %}

{% block body_class %}page page--donation-embed{% endblock %}

{% block page_body %}

<div class="row donation-page">
  <div class="container">
    <div class="donation-blog">
      <iframe id="DonationEmbed" src="{{ page.embed_url }}" border="0"></iframe>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.6/iframeResizer.min.js"
        integrity="sha512-f0wd6UIvZbsjPNebGx+uMzHmg6KXr1jWvumJDYSEDmwYJYOptZ0dTka/wBJu7Tj80tnCYMKoKicqvZiIc9GJgw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      ></script>
      <script>iFrameResize({ checkOrigin: false }, '#DonationEmbed');</script>
    </div>
  </div>
</div>

{% endblock page_body %}
