{% extends "home/base_page.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}page page--generic{% endblock %}

{% block page_body %}

<div class="row row-light-purple headline-blog">
  <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start">
            <h1>
                <div class="spaced serif">{{ page.headline_first }}</div>
                <div class="spaced">{{ page.headline_second }}</div>
            </h1>
        </div>
        {% if page.headline_image %}
        <div class="col-lg-6 d-flex align-items-center justify-content-end">
          {% image page.headline_image width-1100 class="img-fluid" %}
        </div>
        {% endif %}
      </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="row px-4 px-lg-0">
      <div class="col-lg-8">
        {% for block in page.body %}
          {% if block.block_type == 'paragraph' %}
            <div class="row my-3 blog-body">
              <div class="container">
                <div class="row">
                  <div class="col">
                    {{ block.value|richtext }}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock page_body %}
