{% extends "home/base_page.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags static infopush %}

{% block body_class %}page page--home{% endblock %}

{% block page_body %}

<div class="row row-light-purple headline position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 headline-text">
        {{ page.intro_text|richtext }}
      </div>
    </div>
  </div>
</div>

{% if page.intro_boxes %}
<div class="row row-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="intro-boxes">
          {% for box in page.intro_boxes %}
          <div class="intro-box">
            <div class="intro-box-image">
              {% image box.value.image width-270 class="img-fluid" %}
            </div>
            <div class="intro-box-text">{{ box.value.text }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% infopush %}

<div class="row row-white">
  <div class="container">
    <div class="row mb-4">
      <div class="col mb-1">
        <div class="archive-title">
          <h1>{{ page.blog_section_title }}</h1>
          {% if page.blog_section_archive_link %}
          <h5><a href="{% pageurl page.blog_section_archive_link %}" class="archive-link">{{ page.blog_section_archive_link_title }} <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="13.75 20.218 29.959 14.564"><path d="M43.709 27.5 29.15 20.218V26.4h-15.4v2.2h15.4v6.182L43.709 27.5ZM31.35 23.782l7.441 3.718-7.441 3.718v-7.436Z"/></svg></a></h5>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="blog-grid">
    {% for blogpost in blogposts %}
      {% include "blog/blog_grid_item.html" with item=blogpost %}
    {% endfor %}
    </div>
    <div class="text-center">
      <a href="{% pageurl page.blog_section_archive_link %}" class="blog-grid-more-button">{{ page.blog_section_archive_link_title }} <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="13.75 20.218 29.959 14.564"><path d="M43.709 27.5 29.15 20.218V26.4h-15.4v2.2h15.4v6.182L43.709 27.5ZM31.35 23.782l7.441 3.718-7.441 3.718v-7.436Z"/></svg></a>
    </div>
  </div>
</div>

{% endblock page_body %}
