{% extends "home/base_page.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags static infopush %}

{% block body_class %}page page--home{% endblock %}

{% block page_body %}

<div class="row row-light-purple headline px-4 px-lg-0 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 headline-text">
        {{ page.intro_text|safe }}
      </div>
    </div>
  </div>
</div>

{% if page.intro_boxes %}
<div class="row row-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="intro-boxes">
          {% for box in page.intro_boxes %}
          <div class="intro-box">
            <div class="intro-box-image">
              {% image box.value.image width-270 class="img-fluid" %}
            </div>
            <div class="intro-box-text">{{ box.value.text }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% infopush %}

<div class="row row-white px-4 px-lg-0">
  <div class="container">
    <div class="row mb-lg-5">
      <div class="col">
        <div class="archive-title">
          <h1>{{ page.news_section_title }}</h1>
          {% if page.news_section_archive_link %}
          <h5><a href="{% pageurl page.news_section_archive_link %}" class="archive-link">{{ page.news_section_archive_link_title }} >>></a></h5>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      {% for novica in novice %}
      <div class="col-12 col-lg-4 news-preview my-4 my-lg-0">
        <div>
          <a class="{{ novica.url }}" href="{{ novica.url }}">
            {% image novica.preview_image width-1100 class="img-fluid" %}
          </a>
        </div>
        <div>
          <a class="{{ novica.url }}" href="{{ novica.url }}"><h1 class="news-title">{{ novica.title }}</h1></a>
          <div class="news-subtitle">
            <span>{{ novica.tag }}</span><span class="vertical-line"> | </span><time>{{ novica.date|date:'d. m. Y' }}</time>
          </div>
        </div>
        <div class="mt-3 news-desc">
          {{ novica.preview_text|safe }}
          <a class="{{ novica.url }}" href="{{ novica.url }}">VEČ &gt;&gt;&gt;</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row row-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4 mb-xl-0">
        {% include "home/includes/social-media-box.html" %}
      </div>
      <div class="col-lg-6">
        {% include "home/includes/newsletter-box.html" %}
      </div>
    </div>
  </div>
</div>

<div class="row row-light px-4 px-lg-0">
  <div class="container">
    <div class="row my-4 my-lg-5">
      <div class="col">
        <div class="archive-title">
          <h1>{{ page.blog_section_title }}</h1>
          {% if page.blog_section_archive_link %}
          <h5><a href="{% pageurl page.blog_section_archive_link %}" class="archive-link">{{ page.blog_section_archive_link_title }} >>></a></h5>
          {% endif %}
        </div>
      </div>
    </div>
    {% for blogpost in blogposts %}
    <div class="row blog-preview mb-lg-5">
      <div class="col-lg-4 mb-2">
        <a class="blog-title" href="{{ blogpost.url }}">
          {% image blogpost.preview_image width-1100 class="img-fluid" %}
        </a>
      </div>
      <div class="col-lg-8">
        <a class="blog-title" href="{{ blogpost.url }}"><h1>{{ blogpost.title }}</h1></a>
        {% if blogpost.authors %}
        <div class="blog-author">
          <span>{{ blogpost.authors_list_string }}</span>
        </div>
        {% endif %}
        <div class="blog-subtitle">
          <time>{{ blogpost.date|date:'d. m. Y' }}</time>
        </div>
        <div class="mt-3">
          {{ blogpost.preview_text|safe }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="row row-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 my-4 my-xl-0">
        {% include "home/includes/support-box.html" %}
      </div>
      <div class="col-lg-6 my-4 my-xl-0">
        {% include "home/includes/monitor-box.html" %}
      </div>
    </div>
  </div>
</div>

{% endblock page_body %}
