{% extends "home/base_page.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}page page--generic{% endblock %}

{% block page_body %}

<div class="row row-light-purple headline headline--blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="headline-title">{{ page.title }}</h1>
            </div>
            <div class="col-lg-5">
                <div class="headline-image">
                    {% image page.headline_image width-1100 class="img-fluid" %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="blog-filter-title mt-0 mb-2">Filtriraj</h2>
                <div class="blog-filter-links">
                    {% for tag in tags %}
                    <a href="?tag={{ tag.slug }}" class="blog-filter-link {% if tag == selected_tag %}active{% endif %}" data-tag="{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-white">
    <div class="container" data-load-more-container=".blog-grid" data-load-more-url="{% url 'blog_archive_paged_view' %}">
        <h2 class="sr-only">Seznam objav</h2>
        <div class="blog-grid">
        {% for blogpost in blogposts %}
            {% include "blog/blog_grid_item.html" with item=blogpost %}
        {% endfor %}
        </div>
        <div class="blog-grid-show-count">Prikazanih <span class="shown">{{ blogposts.end_index }}</span> od <span class="total">{{ blogposts.paginator.count }}</span></div>
        {% if blogposts.end_index < blogposts.paginator.count %}
        <div class="text-center">
            <a href="javascript:;" class="blog-grid-more-button">Prikaži več <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="13.75 20.218 29.959 14.564" transform="rotate(90)"><path d="M43.709 27.5 29.15 20.218V26.4h-15.4v2.2h15.4v6.182L43.709 27.5ZM31.35 23.782l7.441 3.718-7.441 3.718v-7.436Z"/></svg></a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock page_body %}
