{% extends "home/base_page.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}page page--generic{% endblock %}

{% block page_body %}

<div class="row row-light-purple headline headline--blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="headline-title">{{ page.title }}</h1>
            </div>
            <div class="col-lg-5">
                <div class="headline-image">
                    {% image page.headline_image width-1100 class="img-fluid" %}
                </div>
            </div>
        </div>
    </div>
</div>

{% for year, achievements in achievements_by_year.items %}
<div class="row row-white">
    <div class="container">
        <div class="row mb-3 pb-3">
            <div class="col mb-1">
                <div class="archive-title archive-title-large">
                    <h2>{{ year }}</h2>
                </div>
            </div>
        </div>
        <div class="row blog-preview">
            {% for achievement in achievements %}
            <div class="col-lg-6 achievement-box-col">
                <div class="achievement-box square d-flex flex-column justify-content-between">
                    <div>
                        <h3 class="my-0">{{ achievement.title }}</h3>
                        <div class="mt-2 mb-3">
                            <span>{{ achievement.tag }}</span>
                            <span class="vertical-line">|</span>
                            {% language 'sl' %}
                            {% if achievement.date2 %}
                            <time class="blog-subtitle">{{ achievement.date2|date:'F Y' }}</time>
                            <span> – </span>
                            {% endif %}
                            <time class="blog-subtitle">{{ achievement.date|date:'F Y' }}</time>
                            {% endlanguage %}
                        </div>
                        <div>
                            <p>{{ achievement.description }}</p>
                        </div>
                    </div>
                    {% if achievement.link %}
                    <div>
                        <hr>
                        {% for achievement_link in achievement.link %}
                        <div>
                            <a class="achievement-btn"
                                href="{% if achievement_link.value.url %}{{ achievement_link.value.url }}{% elif achievement_link.value.page %}{% pageurl achievement_link.value.page %}{% elif achievement_link.value.email %}mailto:{{ achievement_link.value.email }}{% endif %}">
                                {{ achievement_link.value.name }}<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="13.75 20.218 29.959 14.564"><path d="M43.709 27.5 29.15 20.218V26.4h-15.4v2.2h15.4v6.182L43.709 27.5ZM31.35 23.782l7.441 3.718-7.441 3.718v-7.436Z"/></svg>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}

{% endblock page_body %}
