:root {
  --font-family-serif: "wf-alegreya", serif;
  --font-family-sans-serif: "wf-space-grotesk", sans-serif;
}

.flex-page-height {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-top-margin {
  margin-top: 98px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.row-white,
.row-purple,
.row-light,
.row-light-purple {
  margin-top: 75px;
  margin-bottom: 75px;
}

@media (max-width: 575.98px) {
  .row-white,
  .row-purple,
  .row-light,
  .row-light-purple {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

.row-purple {
  background: linear-gradient(92.89deg, #3A1791 0.54%, #160444 99.5%);
  color: #fff;
}

.row-light-purple {
  background: linear-gradient(100.24deg, #ECE6F8 0%, #D3C8EE 100%);
}

.row-light {
  background-image: linear-gradient(-218deg, #f3f1f9 0%, #f7f6fb 100%);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-sans-serif);
  font-weight: 700;
  color: #3a1791;
  text-transform: uppercase;
}

h1 {
  font-size: 72px;
  line-height: 1;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 48px;
  line-height: 1;
}

@media (max-width: 575.98px) {
  h2 {
    font-size: 36px;
  }
}

.anchor {
  top: -100px;
  display: block;
  position: relative;
}

.row-purple h2 {
  color: #fff;
}

.archive-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #17093a;
}

.archive-title h1,
.archive-title h2 {
  margin: 0;
  color: #17093a;
  font-family: var(--font-family-serif);
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
  letter-spacing: 4%;
  text-transform: none;
}

.archive-title-large h1,
.archive-title-large h2 {
  font-size: 42px;
}

.archive-title h5 {
  margin: 0;
  font-size: 18px;
}

@media (max-width: 991.98px) {
  .archive-title h1,
  .archive-title h2 {
    font-size: 28px;
  }

  .archive-title-large h1,
  .archive-title-large h2 {
    font-size: 36px;
  }

  .archive-title h5 {
    font-size: 16px;
  }
}

p, .blog-body li {
  font-family: var(--font-family-sans-serif);
  font-weight: 400;
  color: #17093a;
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 575.98px) {
  p, .blog-body li {
    font-size: 18px;
  }
}

p a,
p a:hover,
p a:active,
.blog-body li a,
.blog-body li a:hover,
.blog-body li a:active {
  font-weight: 400;
  color: #3a1791;
  text-decoration: underline;
}

p a:hover,
.blog-body li a:hover {
  text-decoration: none;
}

p b,
p strong {
  font-weight: 700;
}

hr {
  border-top-width: 2px;
  border-top-color: #d8d1e9;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

hr.short {
  width: 30%;
  margin-left: 0;
}

.vertical-line {
  font-family: var(--font-family-sans-serif);
  font-weight: 400;
}

.intro-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px 20px;
  margin-top: -137px;
  margin-bottom: 38px;
}

.intro-box {
  flex: 1 1 206px;
  max-width: 206px;
  padding: 12px 28px 16px;
  background-color: #fff;
  border: 1px solid #3A1791;
}

.intro-box:nth-child(2n) {
  transform: translateY(38px);
}

.intro-box .intro-box-text {
  font-family: var(--font-family-serif);
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.intro-box .intro-box-image {
  margin-inline: 10px;
  margin-bottom: 12px;
}

.intro-box .intro-box-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

@media (max-width: 575.98px) {
  .intro-boxes {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .intro-box:nth-child(2n) {
    transform: none;
  }
}

.infopush {
  margin-bottom: 1.5rem;
}

.infopush a {
  display: block;
  text-decoration: none;
}

.infopush a:focus-visible {
  box-shadow: none;
  outline: 2px solid #3A179180;
}

.infopush .infopush-image {
  flex: 1;
  flex-shrink: 0;
  max-width: 380px;
  margin-inline: auto;
}

.infopush .infopush-content {
  flex: 2;
  padding: 42px;
  color: #fff;
}

@media (max-width: 575.98px) {
  .infopush .infopush-content {
    padding: 24px;
  }
}

.infopush .infopush-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infopush h3 {
  margin-top: 0;
  margin-bottom: 14px;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-transform: none;
}

.infopush p,
.infopush ul,
.infopush ol {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;

  &:last-child {
    margin-bottom: 0;
  }
}

.infopush .infopush-content svg {
  height: 1em;
}

@media (max-width: 991.98px) {
  .infopush h3 {
    font-size: 24px;
  }

  .infopush p,
  .infopush ul,
  .infopush ol {
    font-size: 16px;
  }
}

.infopush .infopush-btn {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border: 2px solid #3a1791;
  padding: 1rem 1.75rem;
}

.infopush .infopush-btn:hover {
  color: white;
  background-color: #3a1791;
}

/* SQUARE ELEMENTS */
.square {
  padding: 2rem;
  height: 100%;
}

.square.square-dark-purple {
  background-image: linear-gradient(-241deg, #3a1791 0%, #230a63 51%, #160444 100%);
}

.square.square-light-purple {
  background-image: linear-gradient(-218deg, #ece6f8 0%, #d3c8ee 100%);
}

.square.square-dark-purple h3 {
  color: white;
  text-align: center;
  font-size: 42px;
  letter-spacing: 4px;
  margin: 0;
}

.square.square-dark-purple h3:first-child {
  text-transform: none;
  font-family: var(--font-family-serif);
}

.social-media {
  border: 2px solid #d8d1e9;
  height: 100px;
  width: 100px;
  margin: 20px;
}

.social-media img {
  max-height: 60%;
  max-width: 60%;
}

.social-media:hover {
  background-color: #d8d1e9;
}

.social-media:hover img {
  filter: brightness(0%) invert(12%) sepia(89%) saturate(3353%)
    hue-rotate(254deg) brightness(85%) contrast(105%);
}

#managed-email /*,
#newsletter-form input[type=email]*/ {
  border-radius: 0;
  color: #17093a;
  line-height: 30px;
  font-size: 24px;
  font-family: var(--font-family-sans-serif);
  padding: 0.5rem 1rem;
}

#managed-email {
  border: 2px solid #3a1791;
}

/* #newsletter-form label {
  color: white;
  font-family: var(--font-family-sans-serif);
  font-size: 16px;
  line-height: 18px;
} */

.newsletter-checkbox-label {
  position: relative;
  padding-left: 30px;
  margin-left: 0;
  cursor: pointer;
}

.newsletter-checkbox-label::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #d8d1e9;
  display: flex;
  color: #17093a;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  left: 0;
}

.newsletter-checkbox {
  /* visibility: hidden; */
  position: absolute;
  width: 1px;
  height: 1px;
  clip-path: rect(0 0 0 0);
}

.newsletter-checkbox:focus {
  outline: none;
  box-shadow: none;
}

.newsletter-checkbox:checked+label::before {
  content: "\2713";
}

.unsubscribe .subscription,
/* #newsletter-btn, */
#submit-managed-email {
  background-color: #d2c8ee;
  border: 2px solid #3a1791;
  color: #3a1791;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 1rem 1.5rem;
}

#submit-managed-email {
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-left: none;
}

.unsubscribe .subscription:hover,
/* #newsletter-btn:hover, */
#submit-managed-email:hover {
  background-color: #3a1791;
  color: #d2c8ee;
}

/* #newsletter-btn:hover {
  border: 2px solid #d2c8ee;
} */

#newsletter-error-message,
#newsletter-success-message {
  color: #000;
  display: none;
}

.infopush #newsletter-error-message,
.infopush #newsletter-success-message {
  color: #fff;
  display: none;
}

.manage {
  font-family: var(--font-family-sans-serif);
}

.manage h5 {
  margin-bottom: 28px;
}

.manage #newsletter-error-message,
.manage #newsletter-success-message {
  color: #3a1791;
  font-size: 24px;
}

.square.square-light-purple {
  padding: 3rem;
}

.square.square-light-purple h3 {
  font-size: 42px;
  font-weight: 800;
  color: #160444;
  letter-spacing: 4%;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 991.98px) {
  .square {
    padding: 1.5rem;
  }

  .square.square-dark-purple h3,
  .square.square-light-purple h3 {
    font-size: 28px;
  }

  .social-media {
    height: 70px;
    width: 70px;
    margin: 10px;
  }

  .social-media img {
    max-width: 40px;
    max-height: 40px;
  }

  .square.square-light-purple {
    padding: 1.5rem;
  }

}

.square.square-light-purple h3:first-of-type {
  font-family: var(--font-family-serif);
  text-transform: none;
  font-style: italic;
}

.square.square-light-purple h3:last-of-type {
  font-family: var(--font-family-sans-serif);
  color: #3A1791;
}

.square.square-light-purple .support-btn {
  display: inline-flex;
  align-items: center;
  border: 2px solid #3a1791;
  color: #3a1791;
  font-size: 18px;
  font-weight: 700;
  padding: 1rem 1.5rem;
  width: 100%;
  transition: none;
}

.square.square-light-purple .support-btn:hover {
  background-color: #3a1791;
  color: white;
}

.square.square-light-purple .support-btn:focus-visible {
  box-shadow: none;
  outline: 2px solid #3A179180;
}

.support-btn svg {
  width: 1.5rem;
  height: 1.25rem;
  margin-left: 0.5rem;
}

/* SQUARE BUTTONS */
.square-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 175px;
  height: 175px;
  padding: 30px;
  background: #3a1791;
  overflow: hidden;
  transition: all 0.15s ease-in-out;
  position: relative;
}

@media (max-width: 575.98px) {
  .square-button {
    width: calc(33% - 4px);
    height: calc(33% - 4px);
    padding: 10px;
  }
}

.square-button,
.square-button:hover,
.square-button:active,
.square-button:focus {
  text-decoration: none;
}

.square-button img {
  display: block;
  width: auto;
  height: 50px;
}

@media (max-width: 575.98px) {
  .square-button img {
    height: 25px;
  }
}

.square-button h3,
.square-button p {
  color: #d8d1e9;
}

.square-button h3 {
  font-family: var(--font-family-serif);
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2.13px;
  margin-bottom: 0;
}

.square-button p {
  font-family: var(--font-family-sans-serif);
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 1.6px;
  font-weight: 400;
  margin-bottom: 0;
}

@media (max-width: 575.98px) {
  .square-button h3,
  .square-button p {
    margin-top: 1rem;
  }

  .square-button p {
    font-size: 14px;
  }
}

.square-button:hover {
  background-color: #fff;
}

.square-button:hover img {
  filter: brightness(0%) invert(12%) sepia(89%) saturate(3353%)
    hue-rotate(254deg) brightness(85%) contrast(105%);
}

.square-button:hover h3,
.square-button:hover p {
  color: #3a1791;
}

.row-white .square-button {
  width: auto;
  height: 250px;
}

@media (max-width: 575.98px) {
  .row-white .square-button {
    height: auto;
    padding: 20px;
  }
}

.row-white .square-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
  background: linear-gradient(-218deg, #ece6f8 0%, #d3c8ee 100%);
}
.row-light-purple .square-button {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
  background: linear-gradient(-218deg, #ece6f8 0%, #d3c8ee 100%);
}

.row-white .square-button > div {
  position: relative;
}

.row-white .square-button img,
.row-light-purple .square-button img {
  height: 60px;
}

.row-white .square-button h3,
.row-white .square-button p {
  color: #17093a;
}
.row-light-purple .square-button h3,
.row-light-purple .square-button p {
  color: #17093a;
  font-family: var(--font-family-sans-serif);
  font-style: normal;
}

.row-white .square-button p {
  font-size: 16px;
}
.row-light-purple .square-button p {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 575.98px) {
  .row-white .square-button p {
    margin-top: 0;
  }
}

.row-white .square-button:hover,
.row-light-purple .square-button:hover{
  background: #3a1791;
}

.row-white .square-button:hover::before {
  opacity: 0;
}

.row-white .square-button:hover img,
.row-light-purple .square-button:hover img {
  filter: brightness(0%) invert(100%);
}

.row-white .square-button:hover h3,
.row-white .square-button:hover p,
.row-light-purple .square-button:hover h1,
.row-light-purple .square-button:hover h3,
.row-light-purple .square-button:hover p {
  color: #fff;
}

/* BUTTONS */
.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-family: var(--font-family-sans-serif);
  font-weight: 700;
  padding: 0.65rem 1.5rem;
  font-size: 12px;
}

.btn-lg {
  padding: 0.85rem 1.75rem;
  font-size: 16px;
}

.btn-outline-primary {
  color: #3a1791;
}

.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active {
  border-color: #3a1791;
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: #3a1791;
}

.btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem #3a179180;
}

/* NEWS LISTING */
.news-preview h1,
.blog-preview h1,
.news-preview h2,
.blog-preview h2,
.blog-preview a {
  color: #3a1791;
  font-family: var(--font-family-sans-serif);
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  font-style: normal;
  text-transform: none;
}

.blog-preview a.achievement-btn {
  display: inline;
  align-items: center;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 4%;
}

.blog-preview a.achievement-btn:focus-visible {
  box-shadow: none;
  outline: 2px solid #3A179180;
}

.achievement-btn svg {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.25rem;
  margin-left: 0.6em;
  margin-top: -0.15em;
}

.blog-preview h1,
.blog-preview h2 {
  margin-bottom: 1rem;
}

.news-preview h1,
.news-preview h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.news-preview img {
  height: 240px;
  object-fit: cover;
}

.news-preview a,
.news-preview a:hover {
  color: #3a1791;
}

.news-preview a:focus-visible {
  box-shadow: none;
  outline: 2px solid #3A179180;
}

.news-subtitle,
.blog-subtitle {
  margin-top: 10px;
  font-family: var(--font-family-sans-serif);
  font-weight: 400;
  font-size: 16px;
  /* line-height: 30px; */
  color: #17093a;
  /* margin-bottom: 0.85rem; */
}

.blog-preview-image {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.blog-preview-image img {
  border-radius: 50%;
}

.blog-image {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.blog-image img {
  border-radius: 50%;
}

.blog-author {
  color: #17093a;
  font-family: var(--font-family-sans-serif);
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 2px;
  margin-top: 2px;
}

.blog-sidebar {
  background-color: #f7f6fb;
  padding: 30px;
}

.blog-sidebar h4 {
  margin-bottom: 0;
  margin-top: 0;
  text-transform: none;
  font-size: 32px;
  font-weight: 800;
  color: #160444;
}

.blog-sidebar h5,
.blog-sidebar h5 a {
  font-size: 18px;
  font-family: var(--font-family-sans-serif);
  font-weight: 700;
  color: #3a1791;
  line-height: 1.2;
}

.blog-sidebar .blog-sidebar-title {
  font-family: var(--font-family-serif);
  font-style: italic;
}

.blog-sidebar .blog-author,
.blog-sidebar .blog-subtitle {
  font-size: 14px;
}

.news-preview p {
  font-size: 20px;
  display: inline;
}

.news-desc a {
  display: inline;
  font-weight: 700;
  font-size: 20px;
  font-family: var(--font-family-sans-serif);
  color: #3a1791;
}

.archive-link {
  display: flex;
  align-items: center;
  font-family: var(--font-family-sans-serif);
  font-weight: 700;
  letter-spacing: 4%;
  text-decoration: none;
}

.archive-link, .archive-link:hover {
  color: #3a1791;
}

.archive-link:focus-visible {
  box-shadow: none;
  outline: 2px solid #3A179180;
}

.archive-link svg {
  width: 1.5rem;
  height: 1.25rem;
  margin-left: 0.5rem;
}

@media (max-width: 991.98px) {
  .news-preview h1,
  .blog-preview h1,
  .news-preview h2,
  .blog-preview h2,
  .blog-preview a {
    font-size: 24px;
    line-height: 28px;
  }

  .news-preview p,
  .news-desc a {
    font-size: 16px;
  }
}

.blog-body h1, h2, h3, h4 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.blog-body p,
.blog-body li {
  font-size: 18px;
  line-height: 1.5;
}

.blog-body a:focus-visible {
  box-shadow: none;
  outline: 2px solid #3A179180;
}

.custom-video-embed {
  width: 100%;
  height: 300px;
  border: none;
}

@media (min-width: 768px) {
  .custom-video-embed {
    height: 380px;
  }
}

@media (min-width: 1200px) {
  .custom-video-embed {
    height: 420px;
  }
}

.back-link {
  display: inline-flex;
  align-items: center;
  color: #3a1791;
  font-size: 20px;
  font-family: var(--font-family-sans-serif);
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4%;
}

.back-link:hover {
  color: #3a1791;
}

.back-link:focus-visible {
  box-shadow: none;
  outline: 2px solid #3A179180;
}

.back-link svg {
  width: 1.5rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.monitoring-intro p {
  font-size: 20px;
}

@media (min-width: 992px) {
  .monitoring-intro p {
    font-size: 24px;
  }
}

.monitoring-btn {
  display: inline-flex;
  align-items: center;
  border: 2px solid #3a1791;
  color: #3a1791;
  font-size: 18px;
  font-weight: 700;
  padding: 1rem 1.5rem;
}

.monitoring-btn svg {
  width: 1.5rem;
  height: 1.25rem;
  margin-left: 0.5rem;
}

.monitoring-btn:hover {
  background-color: #3a1791;
  color: white;
}

.achievement-box {
  background-color: #f7f6fb;
  font-family: var(--font-family-sans-serif);
}

.achievement-box-col {
  padding-bottom: 30px;
}

@media (min-width: 992px) {
  .achievement-box {
    min-height: 450px;
  }
}

.achievement-box h3 {
  font-family: var(--font-family-serif);
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  font-style: italic;
  text-transform: none;
  color: #17093a;
}

/* PAGINATION */
.page-num {
  padding: 0.25rem 0.75rem;
  margin: 0 0.25rem;
}

.page-num.active {
  border: 1px solid #3a1791;
}

.page-num a {
  color: #3a1791;
  font-weight: 700;
  font-family: var(--font-family-sans-serif);
  text-decoration: none;
}

.page-num svg {
  width: 1.5rem;
  height: 1.25rem;
}

/* FOOTER */
footer .row-purple {
  padding-top: 0;
  padding-bottom: 0;
}


footer nav a, .social-media-footer, .footer-text {
  color: #17093a;
  font-family: var(--font-family-sans-serif);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.28px;
}

.social-media-footer a {
  border: 1px solid #d8d1e9;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.social-media-footer a:hover {
  background-color: #d8d1e9;
}

.social-media-footer a:hover img {
  filter: brightness(0%) invert(12%) sepia(89%) saturate(3353%)
  hue-rotate(254deg) brightness(85%) contrast(105%);
}

.social-media-footer img {
  max-height: 1.25rem;
  max-width: 1.25rem;
}

footer a,
footer a:hover {
  color: #17093a;
}

footer nav .separator {
  border-left: 1px solid #17093a;
  margin: 0 1.25rem;
  height: 14px;
}

footer hr {
  border-color: #938aa8;
  opacity: 0.25;
  margin-bottom: 0.25rem;
}

footer .row-credits p {
  color: #938aa8;
  font-size: 12px;
}

footer .footer-logo {
  font-family: var(--font-family-sans-serif);
}

footer .footer-logo img {
  width: 12rem;
}

footer .footer-bottom-row {
  line-height: 1.2;
  border-top: 1px solid #17093A;
}

footer .footer-bottom-row a:focus-visible {
  box-shadow: none;
  outline: 2px solid #3A179180;
}

footer .footer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  background: linear-gradient(100.24deg, #ECE6F8 0%, #D3C8EE 100%);
  border: 1px solid #17093A
}

footer .footer-box-title,
.infopush .infopush-box-newsletter-title {
  margin: 0;
  font-family: var(--font-family-serif);
  font-weight: 700;
  font-style: italic;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: 4%;
  text-transform: none;
  color: #17093A;
}

.infopush .infopush-box-newsletter-title {
  color: #fff;
}

footer .footer-box-title div:nth-child(2),
.infopush .infopush-box-newsletter-title span:nth-child(2) {
  font-family: var(--font-family-sans-serif);
  font-style: normal;
  color: #3A1791;
  text-transform: uppercase;
}

.infopush .infopush-box-newsletter-title span:nth-child(2) {
  color: #fff;
}

footer .footer-box-newsletter-form {
  margin-top: 24px;
  color: #17093A;
}

.infopush .infopush-box-newsletter-form {
  margin-top: 12px;
  color: #fff;
}

.infopush .infopush-box-newsletter-row {
  display: flex;
  gap: 12px;
}

@media (max-width: 575.98px) {
  .infopush .infopush-box-newsletter-row {
    flex-direction: column;
  }
}

footer .footer-box-newsletter-form label,
.infopush .infopush-box-newsletter-form label {
  display: block;
  font-family: var(--font-family-sans-serif);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 4%;
}

.infopush .infopush-box-newsletter-form label {
  flex: 1;
  margin-bottom: 0;
}

footer .footer-box-newsletter-form input:not([type="checkbox"]),
.infopush .infopush-box-newsletter-form input:not([type="checkbox"]) {
  width: 100%;
  margin-top: 2px;
  border: 2px solid #3A1791;
  border-radius: 0;
}

.infopush .infopush-box-newsletter-form input:not([type="checkbox"]) {
  height: 49px;
  padding-block: 0;
}

footer .footer-box-newsletter-form input:not([type="checkbox"]):focus,
.infopush .infopush-box-newsletter-form input:not([type="checkbox"]):focus {
  border-color: #3A1791;
  box-shadow: none;
  outline: 2px solid #3A179180;
}

.infopush .infopush-box-newsletter-form input:not([type="checkbox"]):focus {
  outline: 2px solid #ffffff80;
}

footer .footer-box-newsletter-form .form-check,
.infopush .infopush-box-newsletter-form .form-check {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 4%;
}

footer .footer-box-newsletter-form .form-check .form-check-label::before,
.infopush .infopush-box-newsletter-form .form-check .form-check-label::before {
  border-color: #3A1791;
}

footer .footer-box-newsletter-form .form-check input:focus-visible + .form-check-label::before,
.infopush .infopush-box-newsletter-form .form-check input:focus-visible + .form-check-label::before {
  border-color: #3A1791;
  box-shadow: none;
  outline: 2px solid #3A179180;
}

.infopush .infopush-box-newsletter-form .form-check input:focus-visible + .form-check-label::before {
  outline: 2px solid #ffffff80;
}

footer .footer-box-newsletter-form .footer-box-newsletter-button,
footer .footer-box-support-button,
.infopush .infopush-box-newsletter-form .infopush-box-newsletter-button {
  padding-inline: 19px;
  padding-block: 9px;
  margin-top: 0;
  text-transform: uppercase;
  text-decoration: none;
}

.infopush .infopush-box-newsletter-form .infopush-box-newsletter-button {
  margin-top: 23px;
  align-self: flex-start;
}

@media (max-width: 575.98px) {
  .infopush .infopush-box-newsletter-form .infopush-box-newsletter-button {
    margin-top: 0;
  }
}

.infopush .infopush-box-newsletter-form .infopush-box-newsletter-button:focus-visible {
  outline: 2px solid #ffffff80;
}

footer .footer-box-support-text {
  margin-top: 24px;
}

footer .footer-box-support-text,
footer .footer-box-support-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 4%;
}

footer .footer-box-support-button {
  margin-top: 10px;
}

footer .footer-box-social-media {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 28px;
}

footer .footer-box-social-media-icon {
  display: block;
  width: 60px;
  height: 60px;
  padding: 9px;
  border: 1px solid #17093A;
}

footer .footer-box-social-media-icon:hover {
  background-color: #160444;
  color: #fff;
}

footer .footer-box-social-media-icon:focus-visible {
  box-shadow: none;
  outline: 2px solid #3A179180;
}

footer .footer-box-social-media-icon svg {
  width: 100%;
  height: 100%;
}

/* HEADER */
header {
  background-color: white;
}

header a.home-link {
  display: flex;
}

header a.home-link:focus-visible {
  box-shadow: none;
  outline: 2px solid #3A179180;
  outline-offset: 2px;
}

header a.home-link h2 svg {
  width: auto;
  height: 50px;
}

header a.home-link,
header a.home-link:hover {
  text-decoration: none;
}

header h2 {
  font-size: 18px;
  margin: -0.25rem;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .navbar .navbar-nav {
  gap: 14px;
}

header .nav-item {
  display: flex;
  align-items: center;
}

header .navbar .nav-item a.nav-link {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: var(--font-family-sans-serif);
  font-weight: 700;
  color: #160444;
  line-height: 20px;
}

header .navbar .nav-item.nav-item-border a.nav-link {
  background: linear-gradient(92.89deg, #3A1791 0.54%, #160444 99.5%);
  color: #fff;
}

header .navbar .nav-item a.nav-link:hover,
header .navbar .nav-item a.nav-link.active {
  text-decoration: underline;
}

header .navbar .nav-item a.nav-link.active {
  background: linear-gradient(100.24deg, #ECE6F8 0%, #D3C8EE 100%);
  color: #160444;
}

header .navbar .nav-item a.nav-link:focus-visible {
  box-shadow: none;
  outline: 2px solid #3A179180;
}

.headline {
  position: relative;
  margin-top: 106px;
  padding-top: 78px;
  padding-bottom: 122px;
  display: flex;
  align-items: center;
}

.headline--blog {
  padding-top: 80px;
  padding-bottom: 80px;
}

.headline--blog .headline-title {
  font-family: var(--font-family-serif);
  font-weight: 800;
  font-style: italic;
  font-size: 48px;
  color: #17093A;
  text-transform: none;
}

.headline--blog .headline-image {
  width: calc(100% - 30px);
  height: calc(100% + 160px + 15px);
  transform: translateY(-60px);
}

.headline--blog .headline-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left center;
  display: block;
}

@media (max-width: 991.98px) {
  .headline--blog .headline-title {
    text-align: center;
  }

  .headline--blog .headline-image {
    width: 100%;
    height: auto;
    transform: none;
    margin-top: 20px;
    margin-bottom: -115px;
  }

  .headline--blog .headline-image img {
    position: static;
    max-height: 256px;
    object-position: center;
  }
}

.headline p {
  font-family: var(--font-family-serif);
  font-weight: 800;
  font-style: italic;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
}

.headline .headline-text p:last-child {
  margin-bottom: 0;
}

@media (max-width: 575.98px) {
  .headline {
    padding-top: 42px;
    margin-bottom: 70px;
  }

  .headline--blog .headline-title {
    font-size: 36px;
    line-height: 40px;
  }

  .headline p {
    font-size: 36px;
    line-height: 40px;
  }
}

/* headline blog post */
.headline-blog {
  margin-top: 98px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.donation-blog {
  margin-top: 98px;
}

.headline-blog h1 {
  text-transform: none;
  font-size: 42px;
  line-height: 48px;
}

.headline-blog p {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  padding-top: 10px;
}

@media (max-width: 991.98px) {
  .headline-blog h1 {
    font-size: 32px;
    line-height: 36px;
  }
  .headline-blog p {
    font-size: 20px;
  }
}

@media (max-width: 575.98px) {
  .headline-blog {
    padding-top: 45px;
  }
}

/* PARAGRAPH BLOCKS */
.row-block-paragraph h1,
.row-block-paragraph h2,
.row-block-paragraph h3,
.row-block-paragraph h4 {
  font-family: var(--font-family-sans-serif);
  font-weight: 700;
  color: #17093a;
  text-transform: none;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.row-block-paragraph h2 {
  margin-top: 2.5rem;
  font-size: 2.5rem;
}

.row-block-paragraph h3 {
  font-size: 1.75rem;
}

.row-block-paragraph h4 {
  font-size: 1.5rem;
}

.row-block-paragraph p,
.row-block-paragraph ul,
.row-block-paragraph ol,
.row-block-paragraph blockquote {
  font-family: var(--font-family-sans-serif);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #17093a;
  margin-bottom: 2rem;
}

@media (max-width: 575.98px) {
  .row-block-paragraph p,
  .row-block-paragraph ul,
  .row-block-paragraph ol,
  .row-block-paragraph blockquote {
    font-size: 16px;
    line-height: 1.5;
  }
}

.row-block-paragraph blockquote {
  padding-left: 1.5em;
  border-left: 3px solid #d8d1e9;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.row-block-paragraph ul {
  list-style-type: disc;
}

.row-block-paragraph ol {
  list-style-type: decimal;
}

.row-block-paragraph ul ul,
.row-block-paragraph ol ol,
.row-block-paragraph ul ol,
.row-block-paragraph ol ul {
  margin-bottom: 0;
}

.row-block-paragraph b,
.row-block-paragraph strong {
  font-weight: 700;
}

.row-block-paragraph i,
.row-block-paragraph em {
  font-style: italic;
}

.row-block-paragraph a,
.row-block-paragraph a:hover,
.row-block-paragraph a:active {
  font-weight: 400;
  color: #3a1791;
  text-decoration: underline;
}

.row-block-paragraph a:hover {
  text-decoration: none;
}

.row-block-paragraph .richtext-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.row-block-paragraph .richtext-image.full-width {
  margin: 2rem auto;
}

.row-block-paragraph .richtext-image.left {
  float: left;
  margin-right: 1.5rem;
}

.row-block-paragraph .richtext-image.right {
  float: right;
  margin-left: 1.5rem;
}

.donation-page p {
  font-size: 18px;
}

@media (min-width: 768px) {
  .donation-page p {
    font-size: 20px;
  }
}

#DonationEmbed {
  border: 0;
  width: 100%;
  min-height: 830px;
}

/* new blog grid */
.blog-filter-title {
  font-family: var(--font-family-serif);
  font-weight: 700;
  font-size: 18px;
  text-transform: none;
  color: #17093A;
}

.blog-filter-links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.blog-filter-links .blog-filter-link {
  display: inline-block;
  padding: 5px 13px;
  background-color: #D9D9D9;
  font-family: var(--font-family-sans-serif);
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: #17093A;
}

.blog-filter-links .blog-filter-link.active {
  background: linear-gradient(92.89deg, #3A1791 0.54%, #160444 99.5%);
  color: #fff;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}

.blog-grid-item:hover,
.blog-grid-item:focus-within {
  background: linear-gradient(135deg, #F3F1F9 0%, #F7F6FB 100%);
}

.blog-grid-item:focus-within {
  outline: 2px solid #3A179180;
}

.blog-grid-image {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 360 / 245;
}

.blog-grid-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-grid-content {
  padding: 16px;
}

.blog-grid-title {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
}

.blog-grid-title a {
  color: inherit;
  text-transform: none;
  text-decoration: underline;
}

.blog-grid-title a:focus {
  outline: none;
}

.blog-grid-subtitle {
  margin-top: 10px;
  font-family: var(--font-family-sans-serif);
  font-size: 16px;
  font-weight: 400;
}

.blog-grid-text,
.blog-grid-text p {
  margin-top: 20px;
  font-family: var(--font-family-sans-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.blog-grid-more-button,
.footer-box-newsletter-button,
.footer-box-support-button,
.infopush-box-newsletter-button {
  display: inline-flex;
  align-items: center;
  margin-top: 25px;
  padding: 14px 21px;
  background: linear-gradient(100.24deg, #ECE6F8 0%, #D3C8EE 100%);
  border: 2px solid #3A1791;
  font-family: var(--font-family-sans-serif);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4%;
  color: #3A1791;
  text-decoration: none;
  white-space: nowrap;
}

.blog-grid-more-button.loading {
  opacity: 0.6667;
  filter: grayscale(50%);
  cursor: wait;
}

.blog-grid-more-button.loading:hover {
  color: #3A1791;
  text-decoration: none;
}

.blog-grid-more-button:not(.loading):hover {
  color: #3A1791;
  text-decoration: none;
}

.blog-grid-more-button svg,
.footer-box-newsletter-button svg,
.footer-box-support-button svg,
.infopush-box-newsletter-button svg {
  width: 1.5rem;
  height: 1.25rem;
  margin-left: 10px;
}

.blog-grid-more-button:not(.loading):hover,
.footer-box-newsletter-button:hover,
.footer-box-support-button:hover,
.infopush-box-newsletter-button:hover {
  background: linear-gradient(92.89deg, #3A1791 0.54%, #160444 99.5%);
  color: #fff;
}

.blog-grid-more-button:focus-visible,
.footer-box-newsletter-button:focus-visible,
.footer-box-support-button:focus-visible,
.infopush-box-newsletter-button:focus-visible {
  outline: 2px solid #3A179180;
  box-shadow: none;
}

.blog-grid-show-count {
  margin-top: 25px;
  text-align: right;
  font-family: var(--font-family-sans-serif);
  font-size: 14px;
}

/* new project list */
.project-item {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 2px solid #D8D1E9;
}

.project-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.project-item .project-item-image {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 360 / 245;
  object-fit: cover;
}

.project-item .project-item-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: var(--font-family-sans-serif);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  color: #3A1791;
  text-transform: none;
}

.project-item .project-item-title a {
  color: inherit;
}

.project-item .project-item-title a:focus-visible {
  box-shadow: none;
  outline: 2px solid #3A179180;
}

.project-item .project-item-text,
.project-item .project-item-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.project-item .project-item-text p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
}

.project-item .project-item-text p:not(:first-child) {
  display: none;
}

.project-item .project-item-text svg {
  width: 2rem;
  height: 1.6667rem;
  color: #3A1791;
}

.archived-project-list .project-item .project-item-image {
  opacity: 0.5;
  filter: grayscale(50%);
}

@media (max-width: 991.98px) {
  .project-item .project-item-image {
    margin-bottom: 1rem;
  }

  .project-item .project-item-title {
    font-size: 24px;
  }

  .project-item .project-item-text,
  .project-item .project-item-text p {
    font-size: 16px;
  }

  .project-item .project-item-text svg {
    width: 1.5rem;
    height: 1.25rem;
  }
}

/* large page button links */
.large-page-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}

.large-page-button:focus-visible {
  box-shadow: none;
  outline: 2px solid #3A179180;
}

@media (max-width: 767.98px) {
  .large-page-buttons {
    flex-direction: column;
  }
}

.large-page-button {
  display: inline-flex;
  gap: 21px;
  padding: 26px 21px 26px 18px;
  background: linear-gradient(100.24deg, #ECE6F8 0%, #D3C8EE 100%);
  border: 1px solid #17093A;
  color: #3A1791;
  text-decoration: none;
}

@media (max-width: 767.98px) {
  .large-page-button {
    justify-content: space-between;
  }
}

.large-page-button:hover {
  background: linear-gradient(92.89deg, #3A1791 0.54%, #160444 99.5%);
  color: #fff;
  text-decoration: none;
}

.large-page-button .large-page-button-title {
  font-family: var(--font-family-sans-serif);
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
}

.large-page-button img {
  display: block;
  width: auto;
  height: 81px;
  max-width: 144px;
  object-fit: contain;
  object-position: center;
  margin-top: -15px;
  margin-bottom: -37px;
  font-size: 8px;
}

/* media publications */
.publications-list .media-publication-item:last-child hr,
.monitoring-list .monitoring-archive-item:last-child hr {
  display: none;
}
