anyascii==0.3.2
asgiref==3.8.1
beautifulsoup4==4.13.4
black==25.1.0
boto3==1.38.39
botocore==1.38.39
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
defusedxml==0.7.1
Django==5.2.3
django-filter==25.1
django-modelcluster==6.4
django-permissionedforms==0.1
django-storages==1.14.6
django-stubs-ext==5.2.1
django-taggit==6.1.0
django-tasks==0.7.0
django-treebeard==4.7.1
djangorestframework==3.16.0
draftjs_exporter==5.1.0
et_xmlfile==2.0.0
filetype==1.2.0
html5lib==1.1
idna==3.10
isort==6.0.1
jmespath==1.0.1
l18n==2021.3
laces==0.1.2
mypy_extensions==1.1.0
openpyxl==3.1.5
packaging==25.0
pathspec==0.12.1
pillow==11.2.1
pillow_heif==0.21.0
platformdirs==4.3.8
psycopg==3.2.9
pur==7.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
s3transfer==0.13.0
setuptools==80.9.0
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
telepath==0.3.1
typing_extensions==4.14.0
urllib3==2.5.0
wagtail==7.0.1
wagtail-modeladmin==2.2.0
webencodings==0.5.1
Willow==1.10.0
