anyascii==0.3.2
asgiref==3.8.1
beautifulsoup4==4.11.2
black==24.8.0
boto3==1.34.154
botocore==1.34.154
certifi==2024.7.4
charset-normalizer==3.3.2
defusedxml==0.7.1
Django==4.2.15
django-filter==23.5
django-modelcluster==6.3
django-permissionedforms==0.1
django-storages==1.14.4
django-taggit==4.0.0
django-treebeard==4.7.1
djangorestframework==3.15.0
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
filetype==1.2.0
html5lib==1.1
idna==3.7
isort==5.13.2
jmespath==1.0.1
l18n==2021.3
openpyxl==3.1.5
pillow==10.4.0
pillow_heif==0.18.0
psycopg2==2.9.9
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
s3transfer==0.10.2
six==1.16.0
soupsieve==2.5
sqlparse==0.5.1
telepath==0.3.1
urllib3==2.2.2
wagtail==5.2.6
wagtail-modeladmin==2.0.0
webencodings==0.5.1
Willow==1.6.3
