{% extends "home/base_page.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}page page--generic{% endblock %}

{% block page_body %}

<div class="row row-light-purple headline headline--blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="headline-title">{{ page.title }}</h1>
            </div>
            <div class="col-lg-5">
                {% image page.headline_image width-1100 class="img-fluid" %}
            </div>
        </div>
    </div>
</div>

<div class="row row-white">
    <div class="container" data-load-more-container=".publications-list" data-load-more-url="{% url 'media_publications_paged_view' %}">
        <div class="publications-list">
        {% for mp in publications %}
            {% include "mediapublications/media_publications_item.html" with item=mp %}
        {% endfor %}
        </div>
        <div class="blog-grid-show-count">Prikazanih <span class="shown">{{ publications.end_index }}</span> od <span class="total">{{ publications.paginator.count }}</span></div>
        {% if publications.end_index < publications.paginator.count %}
        <div class="text-center">
            <a href="javascript:;" class="blog-grid-more-button">Prikaži več <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="13.75 20.218 29.959 14.564" transform="rotate(90)"><path d="M43.709 27.5 29.15 20.218V26.4h-15.4v2.2h15.4v6.182L43.709 27.5ZM31.35 23.782l7.441 3.718-7.441 3.718v-7.436Z"/></svg></a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock page_body %}
