{% extends "home/base_page.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}page page--generic{% endblock %}

{% block page_body %}

<div class="row row-light-purple headline-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start">
                <h1>
                    <div class="spaced serif">{{ page.headline_first }}</div>
                    <div class="spaced">{{ page.headline_second }}</div>
                </h1>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-end">
                {% image page.headline_image width-1100 class="img-fluid" %}
            </div>
        </div>
    </div>
</div>

<div class="row row-white">
    <div class="container">
        {% for mp in publications %}
        <hr class="short">
        <article class="row news-preview">
            <div class="col-12">
                <div class="ml-lg-4">
                    <a class="news-title" href="{{ mp.url }}" target="_blank"><h1>{{ mp.title }}</h1></a>
                    <div class="news-subtitle">
                        <span>{{ mp.source }}</span> / <time>{{ mp.date|date:'d. m. Y' }}</time>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
        <hr class="short">
        {% if publications.paginator.num_pages > 1 %}
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="d-flex">
                        {% if publications.has_previous %}
                        <div class="page-num">
                            <a href="?page={{ publications.previous_page_number }}">
                                <span><<<</span>
                            </a>
                        </div>
                        {% endif %}

                        {% for page_num in publications.paginator.page_range %}
                        <div class="page-num {% if page_num == publications.number %} active{% endif %}">
                            <a href="?page={{ page_num }}">
                                {{ page_num }}
                            </a>
                        </div>
                        {% endfor %}

                        {% if publications.has_next %}
                        <div class="page-num">
                            <a href="?page={{ publications.next_page_number }}">
                                <span>>>></span>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock page_body %}
