{% extends "home/base_page.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}page page--generic{% endblock %}

{% block page_body %}

<div class="row row-light-purple headline-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start">
                <h1>
                    <div class="spaced serif">{{ page.headline_first }}</div>
                    <div class="spaced">{{ page.headline_second }}</div>
                </h1>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-end">
                {% image page.headline_image width-1100 class="img-fluid" %}
            </div>
        </div>
    </div>
</div>

<div class="row row-white px-4 px-lg-0">
    <div class="container">
        {% for novica in novice %}
        <div class="row news-preview mb-lg-5">
            <div class="col-lg-8">
                <div>
                    <a class="news-title" href="{{ novica.url }}"><h1>{{ novica.title }}</h1></a>
                    <div class="news-subtitle my-2">
                        <span>{{ novica.tag }}</span><span class="vertical-line"> | </span><time>{{ novica.date|date:'d. m. Y' }}</time>
                      </div>
                </div>
                <div class="mt-3 news-desc">
                    {{ novica.preview_text|richtext }}
                    <a class="{{ novica.url }}" href="{{ novica.url }}">VEČ &gt;&gt;&gt;</a>
                </div>
            </div>
        </div>
        <hr class="short">
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="container">
        {% if novice.paginator.num_pages > 1 %}
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="d-flex">
                        {% if novice.has_previous %}
                        <div class="page-num">
                            <a href="?page={{ novice.previous_page_number }}">
                                <span><<<</span>
                            </a>
                        </div>
                        {% endif %}

                        {% if novice.number > 2 %}
                        <div class="page-num">
                            <a href="?page=1">1</a>
                        </div>
                        {% endif %}

                        {% if novice.number > 3 %}
                        <div class="page-num">
                            <span>...</span>
                        </div>
                        {% endif %}

                        {% if novice.number|add:"-1" > 0 %}
                        <div class="page-num">
                            <a href="?page={{ novice.number|add:"-1" }}">{{ novice.number|add:"-1" }}</a>
                        </div>
                        {% endif %}

                        <div class="page-num active">
                            <a href="?page={{ novice.number }}">{{ novice.number }}</a>
                        </div>

                        {% if novice.number|add:"1" < novice.paginator.num_pages %}
                        <div class="page-num">
                            <a href="?page={{ novice.number|add:"1" }}">{{ novice.number|add:"1" }}</a>
                        </div>
                        {% endif %}

                        {% if novice.paginator.num_pages > novice.number|add:"2" %}
                        <div class="page-num">
                            <span>...</span>
                        </div>
                        {% endif %}

                        {% if novice.number < novice.paginator.num_pages %}
                        <div class="page-num">
                            <a href="?page={{ novice.paginator.num_pages }}">
                            {{ novice.paginator.num_pages }}
                            </a>
                        </div>
                        {% endif %}

                        {% if novice.has_next %}
                        <div class="page-num">
                            <a href="?page={{ novice.next_page_number }}">
                                <span>&gt;&gt;&gt;</span>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock page_body %}
