{% extends "home/base_page.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}page page--generic{% endblock %}

{% block page_body %}

<div class="row row-light-purple headline headline--blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="headline-title">{{ page.title }}</h1>
            </div>
            <div class="col-lg-5">
                <div class="headline-image">
                    {% image page.headline_image width-1100 class="img-fluid" %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if page.projects %}
<div class="row row-white project-list">
    <div class="container">
        <div class="row mb-3 pb-3">
            <div class="col mb-1">
                <div class="archive-title">
                    <h2>{{ page.projects_title }}</h2>
                </div>
            </div>
        </div>
        {% for project in page.projects %}
            {% include "projects/project_item.html" %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% if page.archived_projects %}
<div class="row row-white archived-project-list">
    <div class="container">
        <div class="row mb-3 pb-3">
            <div class="col mb-1">
                <div class="archive-title">
                    <h2>{{ page.archived_projects_title }}</h2>
                </div>
            </div>
        </div>
        {% for project in page.archived_projects %}
            {% include "projects/project_item.html" %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock page_body %}
