{% load wagtailcore_tags static %}

<div class="square square-light-purple">
    <div class="row text-center text-lg-left">
      <div class="col-lg-8">
        <div class="mt-4 mt-lg-5 mb-4">
          <h3>{{ settings.home.Monitor.monitor_title_part_one }}</h3>
          <h3>{{ settings.home.Monitor.monitor_title_part_two }}</h3>
        </div>
        <div class="mb-4">
          <p>{{ settings.home.Monitor.monitor_text }}</p>
        </div>
        {% if settings.home.Monitor.monitor_link %}
        <div>
          <a href="{% pageurl settings.home.Monitor.monitor_link %}" class="btn support-btn mt-2 text-center text-lg-left">{{ settings.home.Monitor.monitor_button }}<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="13.75 20.218 29.959 14.564"><path d="M43.709 27.5 29.15 20.218V26.4h-15.4v2.2h15.4v6.182L43.709 27.5ZM31.35 23.782l7.441 3.718-7.441 3.718v-7.436Z"/></svg></a>
        </div>
        {% endif %}
      </div>
      <div class="col-lg-4 text-center text-lg-right order-first order-lg-last">
        <img src="{% static 'img/lupa.png' %}" />
      </div>
    </div>
</div>
